@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="text-center">Fetch & Store</h1>
    <form class="form-inline ">        
        <div class="dropdown open">
            <select class="form-control">
                <option selected>HTTP METHOD</option>
                <option value="get">GET</option>
                <option value="post">POST</option>
            </select>
            <input type="text" class="form-control" id="url-input" placeholder="Url to Test >">

            <div class="btn-group-vertical">
                <button type="submit" class="btn btn-primary btn-lg">Fetch</button>
                <!--<button type="submit" class="btn btn-primary btn-lg">Submit</button>-->
            </div>
       </div>
    </form>
</div>